@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f8fafc;
  color: #222;
}

/* Brand Colors */
.bg-meddollo-green {
  background-color: #008f5d;
}

.bg-meddollo-yellow {
  background-color: #fdd835;
}

.header-bg {
  background-color: #ffffe7;
}